extends ./base.pug

block title
    != capitalize(page.title) + ' &mdash; ' + config.title 

block head
    link(rel='stylesheet' type='text/css' href='/styles/post.css')  

mixin tags(tags)
    - 
        var t = [];
        for (var i = 0; i < tags.data.length; i++) {
            t.push(tags.data[i].name);
        }

    if t.length
        .post__tags.tags!= t.join(', ')  

mixin categories(categories)
    - 
        var c = [];
        for (var i = 0; i < categories.data.length; i++) {
            c.push(categories.data[i].name);
        }

    if c.length
        .post__categories.category!= c.join(', ')      

block content
    //div(id='fb-root')
    
    //-  script.
    //-      (function(d, s, id) {
    //-      var js, fjs = d.getElementsByTagName(s)[0];
    //-      if (d.getElementById(id)) return;
    //-      js = d.createElement(s); js.id = id;
    //-      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    //-      fjs.parentNode.insertBefore(js, fjs);
    //-      }(document, 'script', 'facebook-jssdk'));
    .post
        .post__header
            h1.post__title= capitalize(page.title)
            .post__meta
                .post__date.clndr= page.date.format('YYYY MMM DD')
                +categories(page.categories)
                +tags(page.tags)

        .post__content!= page.content
        //- .post__share
        //-     - var link = 'https://www.facebook.com/sharer/sharer.php?href=' + page.permalink;
        //-     a(href!=link onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;") share

        // .post__comments
        //     .fb-comments(data-href!=page.link data-width='1050' data-numposts='3')

        